reposerver="yourserver.com"
DBpath='/nfs/OGN/DIRdata/' 
DBhost='localhost' 
DBname='OGNDB' 
DBSQLite3='SAROGN.db' 
DBuser='you' 
DBpasswd='you' 
DBuserread='you' 
DBpasswdread='you' 
MySQL=True
PYsrc='/nfs/OGN/src/SARsrc'
